.row-filled {
  height: calc(100vh - 75px);
  max-height: 680px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

@media (max-width: 768px) {
  .row-filled {
    height: auto;
    max-height: fit-content;
  }
}

.intro .title {
  font-size: 300%;
  font-weight: 100;
  white-space: pre-wrap;
}

.chatbot iframe.chat-iframe {
  min-height: 580px;
}

.intro .intro-profile {
  width: 136px;
  font-size: 1rem;
  text-align: center;
}