html, body {
    font-size: 16px;
}

.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgba(0,0,0, .6);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: list-item;
    list-style: none;
}

.nav li.nav-item {
    float:left;
    margin-right: 27px;
}

.nav li.nav-item:hover,
.nav li.nav-item:active {
    color: rgba(0,0,0, .75);
}